.auth[data-v-e94f00e6]{display:flex;justify-content:center;align-items:center;min-height:60vh}.auth-card[data-v-e94f00e6]{width:420px}.tips[data-v-e94f00e6]{color:#909399;font-size:12px;margin-top:8px}
