.auth[data-v-e1eb60d9]{display:flex;justify-content:center;align-items:center;min-height:60vh}.auth-card[data-v-e1eb60d9]{width:420px}.tips[data-v-e1eb60d9]{color:#909399;font-size:12px;margin-top:8px}
