
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.hurui.me
 */
    
.toolbar[data-v-5805cb22]{display:flex;align-items:center;gap:8px;margin-bottom:12px}.mb12[data-v-5805cb22]{margin-bottom:12px}.card-header[data-v-5805cb22]{display:flex;align-items:center;justify-content:space-between}.title[data-v-5805cb22]{font-size:16px;font-weight:600}.sub[data-v-5805cb22]{color:#666;margin-top:6px}.section-title[data-v-5805cb22]{font-weight:600;margin-bottom:6px}.field[data-v-5805cb22]{color:#444;line-height:1.8}.grid2[data-v-5805cb22]{display:grid;grid-template-columns:1fr 1fr;gap:16px}
