
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.hurui.me
 */
    
.mb-2[data-v-04ca07af]{margin-bottom:12px}.pagination[data-v-04ca07af]{display:flex;justify-content:center;margin-top:12px}
