
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * https://fantastic-admin.hurui.me
 */
    
.as-detail[data-v-72f65cec]{padding:10px;display:flex;flex-direction:column;gap:10px}.title[data-v-72f65cec]{font-weight:700}.meta[data-v-72f65cec] .el-descriptions__label{width:80px}.actions[data-v-72f65cec]{display:flex;gap:8px;align-items:center;flex-wrap:wrap}.exchange[data-v-72f65cec]{display:flex;flex-direction:column;gap:6px;border:1px dashed #ddd;padding:8px;border-radius:6px;background:#fafafa}.inline[data-v-72f65cec]{display:flex;gap:6px;align-items:center;flex-wrap:wrap}
